body {
    margin: 0px;
    //overflow: hidden;
}
#content {
  position: absolute;
  top: 0px;
  left: 0px;
}
.back {
    position: fixed;
    top: 0;
    width: 16.667%;
    height: 100vh;
    display: inline-block;
}