body {
    margin: 0px;
    //overflow: hidden;
}
#content-wrapper {
    text-align: center;
    position: absolute;
}
#content {
    text-align: left;
    display: inline-block;
    width: 50%;
}
#scratch {
    float: right;
    margin-top: 8px;
}
.back {
    position: fixed;
    top: 0;
    width: 16.667%;
    height: 100vh;
    display: inline-block;
}